# ========== البيئة الافتراضية ==========
venv/
env/
.vscode/

# ========== الملفات السرية ==========
.env

# ========== ملفات بايثون المؤقتة ==========
pycache/
*.pyc
*.pyo

# ========== قاعدة البيانات المحلية ==========
db.sqlite3

# ========== وسائط المستخدمين (سترفع إلى Cloudinary) ==========
media/

# ========== الملفات الثابتة المجمعة ==========
staticfiles/

# ========== ملفات السجلات ==========
*.log

# ========== ملفات النظام ==========
.DS_Store
Thumbs.db
# Node.js
node_modules/
package-lock.json

# Android
android/.gradle/
android/build/
android/app/build/

# iOS
ios/build/
DerivedData/

# Capacitor
android/captures/