<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تعيين كلمة المرور الجديدة</title>
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="/static/css/forgot_password.css"> </head>
<body>
    <div class="forgot-container">
        <div class="icon-box">
            <i class="fa-solid fa-key"></i>
        </div>
        <h2>كلمة مرور جديدة</h2>
        <p>يرجى إدخال كلمة المرور الجديدة لحسابك.</p>

        <form action="/accounts/reset-password/" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <label>كلمة المرور الجديدة</label>
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="password" required placeholder="••••••••" minlength="6">
            </div>
            <button type="submit">تحديث كلمة المرور</button>
        </form>
    </div>
</body>
</html>